<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Job search</title>
        <link href="{{url_for('static', filename='css/styles_export.css')}}" rel="stylesheet"></link>
        
    </head>
    <body>
        <header>
            <h1> {{keyword}} CSV file has been downloaded. You can check inside "ch9_finale_graduation" folder</h1>
            <h3><a href="/">Going back to Seach</a></h3>
        </header>
    </body>
</html>